{% extends 'base.html' %} {% load static %} {% block title %}Kitchen Designs -
Trioo Kitchen{% endblock %} {% block content %}
<section class="page-header">
  <div class="container">
    <h1 class="text-center">Our Products</h1>
  </div>
</section>

<section class="product-categories">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Preparation Equipments -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/preparation_equipment.jpg' %}"
            class="card-img-top"
            alt="Preparation Equipments"
          />
          <div class="card-body">
            <h5 class="card-title">Preparation Equipments</h5>
          </div>
        </div>
      </div>

      <!-- Cooking Equipments -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/cooking_equipment.jpg' %}"
            class="card-img-top"
            alt="Cooking Equipments"
          />
          <div class="card-body">
            <h5 class="card-title">Cooking Equipments</h5>
          </div>
        </div>
      </div>

      <!-- Chapati Equipments -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/automatic-chapati-making-machine.jpg' %}"
            class="card-img-top"
            alt="Chapati Equipments"
          />
          <div class="card-body">
            <h5 class="card-title">Chapati Equipments</h5>
          </div>
        </div>
      </div>

      <!-- Refrigeration -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/refrigeration.jpg' %}"
            class="card-img-top"
            alt="Refrigeration"
          />
          <div class="card-body">
            <h5 class="card-title">Refrigeration</h5>
          </div>
        </div>
      </div>

      <!-- Water Cooler & Dispensers -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/water_cooler.jpg' %}"
            class="card-img-top"
            alt="Water Cooler & Dispensers"
          />
          <div class="card-body">
            <h5 class="card-title">Water Cooler & Dispensers</h5>
          </div>
        </div>
      </div>

      <!-- Bar Equipments -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/bar_equipment.jpg' %}"
            class="card-img-top"
            alt="Bar Equipments"
          />
          <div class="card-body">
            <h5 class="card-title">Bar Equipments</h5>
          </div>
        </div>
      </div>

      <!-- Display Counters -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/display_counter.jpg' %}"
            class="card-img-top"
            alt="Display Counters"
          />
          <div class="card-body">
            <h5 class="card-title">Display Counters</h5>
          </div>
        </div>
      </div>

      <!-- Stainless Steel Table -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/stainless_steel_table.jpg' %}"
            class="card-img-top"
            alt="Stainless Steel Table"
          />
          <div class="card-body">
            <h5 class="card-title">Stainless Steel Table</h5>
          </div>
        </div>
      </div>

      <!-- Storage Equipments -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/storage_equipment.jpg' %}"
            class="card-img-top"
            alt="Storage Equipments"
          />
          <div class="card-body">
            <h5 class="card-title">Storage Equipments</h5>
          </div>
        </div>
      </div>

      <!-- Trolley Equipments -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/trolley_equipment.jpg' %}"
            class="card-img-top"
            alt="Trolley Equipments"
          />
          <div class="card-body">
            <h5 class="card-title">Trolley Equipments</h5>
          </div>
        </div>
      </div>

      <!-- Service Equipments -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/service_equipment.jpg' %}"
            class="card-img-top"
            alt="Service Equipments"
          />
          <div class="card-body">
            <h5 class="card-title">Service Equipments</h5>
          </div>
        </div>
      </div>

      <!-- Bakery Equipments -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/bakery_equipment.jpg' %}"
            class="card-img-top"
            alt="Bakery Equipments"
          />
          <div class="card-body">
            <h5 class="card-title">Bakery Equipments</h5>
          </div>
        </div>
      </div>

      <!-- Imported Equipments -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/imported_equipment.jpg' %}"
            class="card-img-top"
            alt="Imported Equipments"
          />
          <div class="card-body">
            <h5 class="card-title">Imported Equipments</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/Exhaust-Hood-Island-Type-1.jpg' %}"
            class="card-img-top"
            alt="Imported Equipments"
          />
          <div class="card-body">
            <h5 class="card-title">
              Exhaust / Fresh / Air / Gas Pipe Line & Ducting System
            </h5>
          </div>
        </div>
      </div>

      <!-- Washing Equipments -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem">
          <img
            src="{% static 'images/washing_equipment.jpg' %}"
            class="card-img-top"
            alt="Washing Equipments"
          />
          <div class="card-body">
            <h5 class="card-title">Washing Equipments</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
